{% extends 'base.html' %}
{% block title %}Audio Gallery{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 278px;">
    {% if audios %}
        {% for song in audios %}
             <div class="card blue-grey darken-1 hoverable">
                <div class="card-content white-text">
                    <audio controls style="display: inline-block"><source src="{{ song.audio.url }}" type="audio/mpeg"></audio><div style="font-size: 20px; padding: 30px 30px 0px 20px; display: inline-block;">{{ song.description }}</div><br>
                </div>
            </div>
        {% endfor %}
    {% else %}
        No audios
    {% endif %}
    </div>
{% endblock %}