
{% extends 'base.html' %}
{% block title %}Leadership{% endblock %}
{% block content %}

</div>
    {% load static from staticfiles %}
        <div class="container left-align">
            <h2 class="orange-text text-darken-3 center-align">Leadership</h2><br>
                {% if staff %}
                    {% for person in staff %}
                        <ul class="collection transparent z-depth-3" style="border-style: solid; border-width: 0px;">
                            <li class="collection-item avatar white-text" style="padding-left: 250px; padding-top: 25px; background-color: rgba(89,87,85,0.5);">
                                <img src="{{ person.image.url }}" alt="image" style="height: 200px; width: 200px;" class="responsive-img materialboxed circle" data-caption="{{ person.full_name }} - {{ person.role }}">
                                <span class="title" style="font-size: 30px;">{{ person.full_name }}</span>
                                <p class="white-text" style="font-size: 20px;">{{ person.role }}</p>
                                <div class="card-panel blue-grey"><em>{{ person.message }}</em></div>
                                <div class="card-panel blue-grey darken-3 center-align"><p>{{ person.tel }}<br>{{ person.email }}</p></div>
{#                                <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>#}
                            </li>
                        </ul><br><br>
                    {% endfor %}
                {% else %}
                    No staff
                {% endif %}
            <br><br>
        </div>
{% endblock %}


