{% extends 'forms.html' %}
{% block title %}Pledge{% endblock %}
{#{% block content %}#}
{#    #}
{#    <div class="card-panel teal darken-2 cast">#}
{#     <fieldset class="fieldset">#}
{#         <legend class="legend">QUERY</legend>#}
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        <div class="input-field">#}
{#            <input type="text" id="name" name="{{ yform.student.html_name }}">#}
{#            <label for="name" class="active">Student</label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <input type="text" id="topic" class="validate" name="{{ yform.topic.html_name }}">#}
{#            <label for="topic" class="active">Topic</label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <textarea name="{{ yform.query.html_name }}" id="textarea" class="materialize-textarea"></textarea>#}
{#            <label for="textarea" class="active">Query</label>#}
{#        </div>#}
{#        <button class="btn teal lighten-1 waves-effect waves-teal waves-light left">Add</button>#}
{#        <a href="{% url 'timetable:docket' %}" class="btn teal lighten-1 waves-effect waves-light waves-teal right">Cancel</a>#}
{#        <button><a href="{% url 'timetable:docket' %}">Cancel</a></button>#}
{#    </form>#}
{#     </fieldset>#}
{#</div>#}
{#{% endblock %}#}
{% block legend %}Pledge{% endblock %}
{% block form_data %}
        {{ form.as_p }}
        <input type="submit" value="Pledge" class="submit">
    <a href="{% url 'church:detailgroup' username group %}" class="cancel">Cancel</a>
{% endblock %}
