
{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
    <div class="card blue-grey darken-3 z-depth-3" style="margin-bottom: 250px;">
        <div class="card-content white-text">
            <div class="container left-align">
                <ul class="collectiion with-header">
                    <li class="collection-header"><h3>Groups</h3></li>
                    <div class="card-panel teal lighten-1">
                    {% for grup in groups %}
                        <li class="collection-item chip"><a href="{% url 'church:detailgroup' username grup.group %}">{{ grup.group }}</a></li><br>
{#                        <a href="{% url 'church:deletemember' member.user %}"><i class="material-icons white-text">delete</i></a><br>#}
                    {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
