{#{% extends 'base.html' %}#}
{#{% block title %}Sign up{% endblock %}#}
{#{% block content %}#}
{#<div class="card-panel teal darken-2 cast">#}
{#     <fieldset class="fieldset">#}
{#         <legend class="legend">SIGN UP</legend>#}
{#<form action="" method="post">#}
{#        {% csrf_token %}#}
{#        <div class="input-field">#}
{#            <input type="text" id="fname" name="{{ profile_form.full_name.html_name }}">#}
{#            <label for="fname" class="active">Full Name</label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <input type="text" id="name" name="{{ user_form.username.html_name }}">#}
{#            <label for="name" class="active">User Name</label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <input type="password" id="password" class="validate" name="{{ user_form.password.html_name }}">#}
{#            <label for="password" class="active">Password</label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <textarea name="{{ profile_form.profile.html_name }}" id="textarea" class="materialize-textarea"></textarea>#}
{#            <label for="textarea" class="active">Profile </label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <input type="number" id="tel" class="validate" name="{{ profile_form.tel_number.html_name }}">#}
{#            <label for="tel" class="active">Telephone contact</label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <input type="email" id="email" name="{{ profile_form.email.html_name }}">#}
{#            <label for="email" class="active">Email Adress</label>#}
{#        </div>#}
{#        <div class="input-field">#}
{#            <input type="file" id="image" name="{{ profile_form.username.html_name }}">#}
{#            <label for="image" class="active">Profile picture</label>#}
{#        </div><br><br><br>#}
{#        <button class="btn teal lighten-1 waves-effect waves-teal waves-light left">Sign up</button>#}
{#        <a href="{% url 'home' %}" class="btn teal lighten-1 waves-effect waves-light waves-teal right">Cancel</a>#}
{#</form>#}
{#     </fieldset>#}
{#</div>#}
{#{% endblock %}#}
{% extends 'forms.html' %}
{% block title %}Sign Up{% endblock %}
{% block legend %}Sign Up{% endblock %}
{% block form_data %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Sign up" class="submit">
        <a href="{% url 'home' %}" class="cancel">Cancel</a>
{% endblock %}